:root {
    --txt-grey: #828184;
    --txt-white: #FFFFFF;
    --txt-red: #E84A34;
    --txt-green: #89EB79;
}
.grey
{
    color: var(--txt-grey);
}
body {
    background-color: #110F17;
    font-family: "ADLaM Display", serif;
    margin: 0;
    padding: 0;
}
.white {
    color: var(--txt-white);
}
.txtTitle {
    color: var(--txt-grey);
    font-size: 1rem;
    
}
.btnCadastrar
{
    text-align: center;
    font-size: 1rem;
    background-color: #CBE012;
    border: none;
    border-radius: 1vh;
    min-height: 8vh;
    width: 25vh;
    cursor: pointer;
}
.btnCadastrar:hover
{
   background-color: #000000;
  
}
a{
    text-decoration: none;
}
.returnMenu
{
    display: flex;
    align-items: center;
    margin-right: 45%;
    font-size: 2.2vh;
    
}
.returnMenu img
{
    height: 5vh;
    width:5vh;
}


.item-Img
{
    background-color: #E84A34;
    min-height: 6vh;
    width:6vh;
    border-radius: 100%;
}
.item-Price
{
    color: var(--txt-grey);
}
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ogo
{
    position: absolute;
}
.hamb
{
    margin-left: 35vh;
}
.user
{
    margin-top: 8%;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 27vh;
    gap: 1vh;
    color: #CBE012;
}
.user-Avatar
{
    width:5vh;
    height:5vh;
    border-radius: 100%;
}
